.card {
	height: 250px;
	width: 70%;
	display: flex;
	object-fit: cover;	
    margin-bottom: 40px;
    gap: 30px;
	border-radius: 20px;
	background-color: darkgray;
	@media (width <= 966px) {		
		flex-direction: column;	
		width: 77%;	
		height: 420px;	
	}	
	@media (width <= 787px) {		
		flex-direction: column;	
		width: 77%;	
		height: 440px;	
	}
	@media (width <= 577px) {		
		flex-direction: column;	
		width: 77%;	
		height: 450px;	
	}
	@media (width <= 450px) {		
		height: 380px;	
	}
	@media (width <= 440px) {		
		height: 400px;	
	}

	&_contentImg {
		width: 400px;
		height: 250px;
        position:relative;
		@media (width <= 966px) {		
			width: 100%;			
		}
    }
    &_contentText {
        width: 60%;
		
		@media (max-width: 966px) {		
			width: 80%;
			position: absolute;
			top: 240px;							
		}
		@media (max-width: 455px) {		
			width: 80%;
			position: absolute;
										
		}
		@media (max-width: 450px) {			
			top: 150px;							
		}	
		@media (max-width: 330px) {			
			top: 130px;							
		}			
    }
	img {
		width: 100%;
		height: 100%;
		border-radius: 20px;
		box-shadow: 10px 10px 10px 10px rgba(15, 15, 15, 0.2);
        position:absolute;
		object-fit: cover;
		@media (width <= 450px) {				
			height: 150px;		
		}
		@media (width <= 966px) {		
			position: inherit;
			width: 100%;					
		}
	}
}

@media (max-width: 1480px) {
	.card-Description {
		margin-top: -20px;
		font-size: 18px;
	}
}
@media (max-width: 1155px) {
	.card-Description {		
		font-size: 16px;
	}
}
@media (max-width: 993px) {
	.card-Description {		
		font-size: 15px;
	}
}