.card {
	height: 250px;
	width: 70%;
	display: flex;
	object-fit: cover;	
    margin-bottom: 40px;
    gap: 30px;
	border-radius: 20px;
	background-color: darkgray;
	@media (width <= 450px) {		
		flex-direction: column;	
		width: 77%;	
		height: 400px;	
	}	
	&_contentImg {
		width: 400px;
		height: 250px;
        position:relative;
		@media (width <= 450px) {		
			width: 350px;			
		}
    }
    &_contentText {
        width: 60%;
		@media (width <= 450px) {		
			width: 80%;
			position: absolute;
			top: 200px;							
		}	
    }
	img {
		width: 100%;
		height: 100%;
		border-radius: 20px;
		box-shadow: 10px 10px 10px 10px rgba(15, 15, 15, 0.2);
        position:absolute;
		object-fit: cover;
		@media (width <= 450px) {		
			position: inherit;
			width: 80%;	
			height: 150px;		
		}
	}
}

@media (max-width: 1200px) {
	.card-Description {
		margin-top: -20px;
		font-size: 15px;
	}
}