.gallery {        
    /* width: 93%; */
    margin: 30px;    
    article {
        width: 100%;
        position: relative; 
        display: grid;  
        justify-items: center; 
        @media (width <= 450px) {		
			margin-left: -15px;
		}    
        button {
            width: 200px;
            height: 40px;
            background-color: blue;
            border-radius: 20px;
            border: none;
            font-size: larger;
            color: white; 
            cursor: pointer;  
            margin-top: -100px;
            z-index: 1;                     
            position: relative;
            top: -90px;
            left: 50px;
            box-shadow: 5px 5px 10px 5px rgba(15, 15, 15, 0.3); 
            transition: transform .3s;
            
            a {
                /* color: white; */
                color: white;
                text-decoration: none;
                font-size: 18px;
                font-weight: 600;
            }
            &:hover {
                background-color:chartreuse;                                               
                box-shadow: 10px 10px 10px 10px rgba(15, 15, 15, 0.3); 
                transition: 0.7s;
                transform: translateY(-5px);                               
            }
        }
    }   
}

@media (max-width: 1450px) {
    .gallery article button {       
        left: 65px;}
}
@media (max-width: 1400px) {
    .gallery article button {       
        left: 80px;        
    }
}
@media (max-width: 1300px) {	
    .gallery article button {	        
        left: 95px;}
}
@media (max-width: 1270px) {	
    .gallery article button {	       
        left: 110px;}
}
@media (max-width: 1200px) {	
    .gallery article button {	       
        left: 120px;}
}
@media (max-width: 1160px) {	
    .gallery article button {	       
        left: 130px;}
}
@media (max-width: 1100px) {	
    .gallery article button {	       
        left: 140px;}
}
@media (max-width: 966px) {	
    .gallery article button {
        left: 0;       
        top: -80px;
    }
}